:root {
  --dark-red: #b80e23;
  --bleak-red: #b15a64;
  --bg-gray: #242424;
  --btn-gray: #36393f;
  --main-gray: #1e1e1e;
}

.autoMargin {
  margin-left: auto;
  margin-right: auto;
}
body {
  background-color: var(--bg-gray);
  color: azure;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.base {
  width: 80vw;
  height: 100vh;
}
.fullGallery {
  /* margin: 0; */
  display: grid;
  grid-template-columns: 20vw 60vw;
}
.charaList {
  height: 92vh;
  display: flex;
  flex-direction: column;
}
.charaPreview {
  display: grid;
  grid-template-areas:
  "gallery gallery"
  "data data";
  grid-template-columns:
  50% 50%
  50% 50%;
  grid-template-rows: 74vh 18vh;
  background-color:  var(--main-gray);
}
.navBar {
  display: flex;
  align-items: stretch;
  /* align-items: center; */
  color:var(--dark-red);
  height: 8vh;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) calc(100% - 2px),
    var(--dark-red) 2px
  ),
  linear-gradient(to right, #36393f, #242424);
}

.navBar > form > input {
  width: calc(20vw - 8px);
  height: 100%;
  background: linear-gradient(
    180deg,
    var(--btn-gray) calc(100% - 2px),
    var(--dark-red) 2px
  );
}

.show > li > a {
  display: block;
  width: 100%;
  text-align: center;
  transition: background-color 0.5s linear;
  cursor: pointer;
  padding-top: 3px;
  padding-bottom: 3px;
}

.btnList {
  all: unset;
  cursor: pointer;
  text-align: center;
  background-color: var(--btn-gray);
  height: 5vh;
  width: 100%;
  /* background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./arrow.svg") !important; */
  border-color: var(--dark-red);
  border-width: 2px;
  border-style: solid;
  /* border-radius: 25%; */
  /* margin-left: -6vh; 
   left: -12px;
  transition-timing-function: ease-out;
  transition-property: all; 2s .5s; 
  transition-duration: 0.5s;
   */
  
  /* height: 5vh; */
  /* flex-shrink: 0; */
  
  transition: background-color 0.5s linear;
  /* width: 100%; */
}


.prettyScroll {
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #b80e23 #1e1e1e;
}
.noScroll {
  scrollbar-width: none;
}
/* .btnList {
  all: unset;
  height: 5vh;
  flex-shrink: 0;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.5s linear;
  width: 100%;
} */


.skinData {
  grid-area: data;
  display: grid;
  grid-template-columns: 10% 45% 45%;
  grid-auto-rows: 100%;
  background-color:  var(--bg-gray);
}
.priceData {
  /* grid-area: price; */
  display: flex;

  flex-direction: column;


  /* overflow-y: scroll; */
  max-height: 100%;
}
.eventaData {
  /* grid-area: event; */
  display: flex;

  flex-direction: column;

  /* overflow-y: scroll; */
  /* color: black; */
  max-height: 100%;
}
.comment {
  padding-left: 10px;
  padding-right: 10px;
}
.navImg {
  margin-left: 10px;
  margin-right: 10px;
  max-height: calc(8vh - 10px);
}
.charaPic {
 height: 100%;
}
.dataTable {
  width: 100%;
}
.charaImage {
  display: flex;
  grid-area: gallery;
  justify-content: space-between;
}
.dataTable * {
  text-align: start;
}
.cats {
  margin-left: 10px;
}


.eventList {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.eventList > button {
  flex-basis: 50px;
}

.feet {
  position: fixed; left: 90vw; bottom: 0px; width: 10vw; background-color: darkgreen; color: floralwhite; padding-left: 5px; user-select: none;
}
.navBtn {

  display: inline;
}
.navBtnMid {
  margin-left: 10px;
  margin-right: 10px;
}

.hide {
  display: none;
}
.show {
  display: block;
  /* background-color: indigo; */
}
.charaListFlat {
  list-style: none;
  padding-left: 0;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
}
/* .subListItem {
  all: unset;
  display: block;
  width: 100%;
  background-color: plum;
  text-align: center;
  transition: background-color 0.5s linear;
  cursor: pointer;
  padding-top: 3px;
  padding-bottom: 3px;
} */
.unselected {
  background-color: #ff0099;
}
.selected {
  background-color: indigo;
}
.unselected:hover {
  background-color: rgb(178, 105, 231);
}
.subListItem:hover {
  background-color: rgb(223, 65, 223);
}
.show > li > .active {
  background-color: navy;
  color: aliceblue;
  pointer-events: none;
}
.dataBtn {
  all: unset;
  width: 100%;
  text-align: center;
  transition: background-color 0.5s linear;
  cursor: pointer;
  background-color:cadetblue;
}

.backBtn {
  all: unset;
  text-align: center;
  width: 10vw;
  height: 3vh;
  transition: background-color 0.5s linear;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
}
.backBtn:hover {
  color: black;
}


.galleryBtn {
  /* all: unset; */
  height: 100%;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: not-allowed;

}
.enabled:hover {
  color: #b80e23;
}
.enabled {
  transition: color 0.5s linear;
  color: #be5b66;
  cursor: pointer;
  font-size: xx-large;
}

a {
  text-decoration: none;
}