:root {
  --dark-red: #b80e23;
  --bleak-red: #b15a64;
  --bg-gray: #242424;
  --navbtn-gray: #36393f;
  --main-gray: #1e1e1e;
  --list-gray: #212529;
}

.autoMargin {
  margin-left: auto;
  margin-right: auto;
}
body {
  background-color: var(--bg-gray);
  color: azure;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.base {
  width: 80vw;
  height: 100vh;
}
.fullGallery {
  /* margin: 0; */
  display: grid;
  grid-template-columns: 20vw 60vw;
}
.charaList {
  height: 92vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: scroll;
}
.charaPreview {
  display: grid;
  grid-template-areas:
  "gallery gallery"
  "data data";
  grid-template-columns:
  50% 50%
  50% 50%;
  grid-template-rows: 74vh 18vh;
  background-color:  var(--main-gray);
}
.navBar {
  display: flex;
  align-items: stretch;
  /* align-items: center; */
  color:var(--dark-red);
  height: 8vh;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) calc(100% - 2px),
    var(--dark-red) 2px
  ),
  linear-gradient(to right, #36393f, #242424);
}

.navBar > form > input {
  width: calc(20vw - 8px);
  height: 100%;
  background: linear-gradient(
    180deg,
    var(--navbtn-gray) calc(100% - 2px),
    var(--dark-red) 2px
  );
}

.show > li > a {
  display: block;
  width: 100%;
  text-align: center;
  transition: background-color 0.5s linear;
  cursor: pointer;
  padding-top: 3px;
  padding-bottom: 3px;
  color: azure;
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  border-color: var(--dark-red);
  background-color: var(--main-gray);
}

.btnList {
  all: unset;
  cursor: pointer;
  text-align: center;
  background-color: var(--navbtn-gray);
  height: 5vh;
  width: 100%;
  border-bottom: 2px solid var(--dark-red);  
  transition: background-color 0.5s linear;
}
/* .bottomBorder {
  border-bottom: 2px solid var(--dark-red);
} */
th, td, .eventaData {
  border-bottom: 2px solid var(--dark-red);
}
.prettyScroll {
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #b80e23 #1e1e1e;
}
.noScroll {
  scrollbar-width: none;
}

.skinData {
  grid-area: data;
  display: grid;
  grid-template-columns: 10% 45% 45%;
  grid-auto-rows: 100%;
  background-color:  var(--list-gray);
}
.priceData {
  /* grid-area: price; */
  display: flex;

  flex-direction: column;


  /* overflow-y: scroll; */
  max-height: 100%;
}
.eventaData {
  /* grid-area: event; */
  display: flex;

  flex-direction: column;

  /* overflow-y: scroll; */
  /* color: black; */
  max-height: 100%;
}
.comment {
  padding-left: 10px;
  padding-right: 10px;
}
.navImg {
  margin-left: 10px;
  margin-right: 10px;
  max-height: calc(8vh - 10px);
}
.charaPic {
 height: 100%;
}
.dataTable {
  width: 100%;
}
.charaImage {
  display: flex;
  grid-area: gallery;
  justify-content: space-between;
}
.dataTable * {
  text-align: start;
}
.cats {
  margin-left: 10px;
}


.eventList {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.eventList > button {
  flex-basis: 50px;
}

.feet {
  position: fixed; left: 90vw; bottom: 0px; width: 10vw; background-color: darkgreen; color: floralwhite; padding-left: 5px; user-select: none;
}
.navBtn {

  display: inline;
}
.navBtnMid {
  margin-left: 10px;
  margin-right: 10px;
}

.hide {
  display: none;
}
.show {
  display: block;
  /* background-color: indigo; */
}
.charaListFlat {
  list-style: none;
  padding-left: 0;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
  /* height: 92vh;
  overflow: scroll; */
}
/* .subListItem {
  all: unset;
  display: block;
  width: 100%;
  background-color: plum;
  text-align: center;
  transition: background-color 0.5s linear;
  cursor: pointer;
  padding-top: 3px;
  padding-bottom: 3px;
} */
.unselected {
  background-color: var(--list-gray);
}
.selected {
  background-color: var(--dark-red);
  color: black;
  border-left: 2px solid var(--dark-red);
  border-bottom: none;
  font-weight: bold;
}
.unselected:hover {
  background-color: var(--dark-red);
}
.subListItem:hover {
  background-color: var(--bleak-red);
}
.show > li > .active {
  background-color: var(--bleak-red);
  pointer-events: none;
  color: black;
  font-weight: bold;
}
.dataBtn {
  all: unset;
  width: 100%;
  text-align: center;
  transition: all 0.5s linear;
  cursor: pointer;
  /* background-color:cadetblue; */
  border: 2px solid var(--dark-red);
}
.dataBtn:hover {
  background-color: #b15a64;
  color: black;
}
.selectedData {
  background-color: #b15a64;
  color: black;
}
.backBtn {
  all: unset;
  text-align: center;
  width: 10vw;
  height: 3vh;
  transition: background-color 0.5s linear;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
}
.backBtn:hover {
  color: black;
}


.galleryBtn {
  /* all: unset; */
  height: 100%;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: not-allowed;

}
.enabled:hover {
  color: var(--dark-red);
}
.enabled {
  transition: color 0.5s linear;
  color: var(--bleak-red);
  cursor: pointer;
  font-size: xx-large;
}

a {
  text-decoration: none;
}

.history {
  position: fixed;
  top: 100px;
  right: 100px;
  display: grid;
}
.history > a {
  color: azure;
}