.m {
	display: flex;
	flex-direction: row;
	gap: 10%;
}
.a {
	color: red;
}
.bird {
	float: left; margin-right: 5px; width: 300px;
}
.blank {
	list-style: none;
	padding-left: 0;
}
.blank > li {
	padding: 3px 3px 3px 3px;
	border-style: solid;
	border-width: 1px;
	border-color: azure;
	
}
.bent {
	font-style: italic;
}